@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    transition: background-color 0.5s, color 0.5s;
  }
  
  .dark {
    background-color: #1a202c; 
    color: #cbd5e0; 
  }
  
  .light {
    background-color: #f7fafc; 
    color: #1a202c; 
  }
